#tag.before {
  width: 0;
  left: 0;
  padding: 15px 0 0 0;
}
#tag.before h1, #tag.before p, #tag.before ul, #tag.before span {
  opacity: 0;
  -webkit-transform: translate3d(-50px, 0, 0);
  -moz-transform: translate3d(-50px, 0, 0);
  -ms-transform: translate3d(-50px, 0, 0);
  -o-transform: translate3d(-50px, 0, 0);
  transform: translate3d(-50px, 0, 0);
}

#tag.in {
  width: 220px;
}

#tag {
  -webkit-transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1);
  -moz-transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1);
  -o-transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1);
  transition: all 0.3s cubic-bezier(0.8, 0, 0.2, 1);
  position: fixed;
  width: 180px;
  height: 180px;
  top: 20px;
  left: 20px;
  font-family: "Quicksand", sans-serif;
  padding: 15px 0 0 20px;
  background-color: #000;
  color: #fff;
}
#tag h1, #tag p, #tag ul, #tag span {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
#tag h1 {
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.3s;
  -moz-transition: all 0.3s ease-in-out 0.3s;
  -o-transition: all 0.3s ease-in-out 0.3s;
  transition: all 0.3s ease-in-out 0.3s;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}
#tag p {
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.4s;
  -moz-transition: all 0.3s ease-in-out 0.4s;
  -o-transition: all 0.3s ease-in-out 0.4s;
  transition: all 0.3s ease-in-out 0.4s;
}
#tag ul {
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -moz-transition: all 0.3s ease-in-out 0.6s;
  -o-transition: all 0.3s ease-in-out 0.6s;
  transition: all 0.3s ease-in-out 0.6s;
}
#tag p, #tag ul a {
  font-size: 12px;
  font-weight: 700;
}
#tag a {
  color: #fff;
  text-decoration: none;
}
#tag a:hover {
  background-color: #333;
}
#tag span {
  -webkit-transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.7s;
  -moz-transition: all 0.3s ease-in-out 0.7s;
  -o-transition: all 0.3s ease-in-out 0.7s;
  transition: all 0.3s ease-in-out 0.7s;
  display: inline-block;
  margin-top: 20px;
  font-size: 10px;
}
#tag ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.tile {
  position: absolute;
  display: none;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  -ms-perspective: 300px;
  -o-perspective: 300px;
  perspective: 300px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
.tile.from-top {
  display: block;
  -webkit-perspective-origin: 50% 0;
  -moz-perspective-origin: 50% 0;
  -ms-perspective-origin: 50% 0;
  -o-perspective-origin: 50% 0;
  perspective-origin: 50% 0;
}
.tile.from-top .inlay {
  -webkit-transform-origin: 50% 0 0;
  -moz-transform-origin: 50% 0 0;
  -ms-transform-origin: 50% 0 0;
  -o-transform-origin: 50% 0 0;
  transform-origin: 50% 0 0;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  -o-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
.tile.from-bottom {
  display: block;
  -webkit-perspective-origin: 50% 100%;
  -moz-perspective-origin: 50% 100%;
  -ms-perspective-origin: 50% 100%;
  -o-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}
.tile.from-bottom .inlay {
  -webkit-transform-origin: 50% 100% 0;
  -moz-transform-origin: 50% 100% 0;
  -ms-transform-origin: 50% 100% 0;
  -o-transform-origin: 50% 100% 0;
  transform-origin: 50% 100% 0;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  -ms-transform: rotateX(90deg);
  -o-transform: rotateX(90deg);
  transform: rotateX(90deg);
}
.tile.from-left {
  display: block;
  -webkit-perspective-origin: 0 50%;
  -moz-perspective-origin: 0 50%;
  -ms-perspective-origin: 0 50%;
  -o-perspective-origin: 0 50%;
  perspective-origin: 0 50%;
}
.tile.from-left .inlay {
  -webkit-transform-origin: 0 50% 0;
  -moz-transform-origin: 0 50% 0;
  -ms-transform-origin: 0 50% 0;
  -o-transform-origin: 0 50% 0;
  transform-origin: 0 50% 0;
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-transform: rotateY(90deg);
  transform: rotateY(90deg);
}
.tile.from-right {
  display: block;
  -webkit-perspective-origin: 100% 50%;
  -moz-perspective-origin: 100% 50%;
  -ms-perspective-origin: 100% 50%;
  -o-perspective-origin: 100% 50%;
  perspective-origin: 100% 50%;
}
.tile.from-right .inlay {
  -webkit-transform-origin: 100% 50% 0;
  -moz-transform-origin: 100% 50% 0;
  -ms-transform-origin: 100% 50% 0;
  -o-transform-origin: 100% 50% 0;
  transform-origin: 100% 50% 0;
  -webkit-transform: rotateY(-90deg);
  -moz-transform: rotateY(-90deg);
  -ms-transform: rotateY(-90deg);
  -o-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
}

.inlay {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 0.3s ease-in-out;
  -moz-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.tile .inlay.show {
  -webkit-transform: rotateX(0) rotateY(0);
  -moz-transform: rotateX(0) rotateY(0);
  -ms-transform: rotateX(0) rotateY(0);
  -o-transform: rotateX(0) rotateY(0);
  transform: rotateX(0) rotateY(0);
}
.tile .inlay.show .cover {
  background-color: rgba(0, 0, 0, 0);
}
